<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Vatlayer.com API Credentials</title>
        <title lang="de-DE">Vatlayer.com API Referenzen</title>
        <input-field>
            <name>apiKey</name>
            <label lang="de-DE">API Key</label>
            <label lang="en-GB">API Key</label>
            <label lang="nl-NL">API Key</label>
        </input-field>
        <component name="memo-vatlayer-api-credentials">
            <name>MemoVatlayerApiCredentials</name>
        </component>
    </card>
    <card>
        <title>Shop Settings</title>
        <title lang="de-DE">Shop Einstellungen</title>
        <input-field type="bool">
            <name>vatIdRequired</name>
            <label>VAT ID required (6.3 and lower)</label>
            <label lang="de-DE">VAT-ID als Pflichtfeld behandeln (6.3 and lower)</label>
            <label lang="nl-NL">BTW ID verplicht (6.3 and lower)</label>
            <helpText>This option is only available for Shopware 6.3 and lower. For Shopware 6.4+ please use the built-in Shopware setting under "Settings > Login / Registration"</helpText>
            <helpText lang="de-DE">Diese Option ist nur für Shopware 6.3 und niedriger verfügbar. Für Shopware 6.4+ verwenden Sie bitte die eingebaute Shopware-Einstellung unter "Einstellungen > Login / Registrierung".</helpText>
            <helpText lang="nl-NL">Deze optie is alleen beschikbaar voor Shopware 6.3 en lager. Voor Shopware 6.4+ gebruikt u de ingebouwde Shopware instelling onder "Instellingen > Login / registratie".</helpText>
        </input-field>
    </card>
</config>
